Archive_2/
drone-inspector-app-vue/
google_scraping/
helloWorld/
kensa/
photo_sharing_api/
photo_sharing_ui/
RPA_Challenge_task/
ssl/
venv/
/.env
.htaccess
986907-saikhom-mirabai-chanu.jpeg
50095281757173.pdf
active_directory_drones.json
assam-mizoram-border-dispute.jpeg
/example.py
kndc_backend_api.conf
kndc_backend_api.sh
KNDC.png
KNDC.psd
womens-hokey.jpeg
media/
node_modules
/dist
kndc-frontend/node_modules
kndc-frontend/kndc
kndc-frontend/.env
kndc-frontend/.gitignore
kndc-frontend/.git
kndc-frontend/kndc_frontend_service.sh
example/